body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h1 {
    margin: 50px;
    padding: 50px;
    gap: 50px;
}

h2 {
    font-size: 100px;
    font-weight: bolder;

    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 50px;
}

p {
    font-size: 50 px;
    font-weight: bold;
    margin-bottom: 50px;
}

.player {
    color: blue;
}

.computer {
    color: red;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}